@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  background-color: #E5E5E5;
  font-family: 'Poppins';
  text-align: center;
  padding: 60px;
}

.Header {
  font-size: 40px;
  font-weight: 800;
  margin: 1rem 2rem 2rem 2rem;
  color: #36476D;
  padding-top: 22px;
}

